.gallery img {
   object-fit: cover;
}

.packages-btn {
   position: relative;
   display: inline-block;
   text-decoration: none;
   border: 3px solid black;
}

.packages-btn::before,
.packages-btn::after {
   content: "";
   position: absolute;
   width: 15px;
   height: 15px;
   border: inherit;
   transition: width 0.25s 0.15s, height 0.25s;
}

.packages-btn::before {
   top: -10px;
   left: -10px;
   border-width: 3px 0 0 3px;
}

.packages-btn::after {
   bottom: -10px;
   right: -10px;
   border-width: 0 3px 3px 0;
}

.packages-btn:hover::before,
.packages-btn:hover::after {
   width: calc(100% + 20px);
   height: calc(100% + 20px);
}
