/* Add class Parent to images */
.carousel-item img {
  height: 78vh;
  object-fit: cover;
  filter: brightness(60%);
}
.bottom-left {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 80px;
}
