.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgb(0, 0, 0, 0.5);
   z-index: 10;
}

.sidebarmodal {
   position: fixed;
   right: 0;
   top: 0;
   z-index: 50;
   height: 100%;
   width: 40%;
   max-width: 400px;
   padding: 50px 40px;
   background-color: white;
   text-align: center;
}
